.content-section {
    padding: 100px 200px;
    text-align: start ;
}

.content-section p {
    color: black;
}

.content-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}

.content-head {
    font-size: 2.25em;
    padding-bottom: 20px;
}

.content-subhead {
    display: flex;
    width: 100%;
    gap: 0 10px;
    padding-bottom: 10px;
    font-size: 0.85em;
}

.content {
    padding: 20px 0;
}